<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42c5fb74e1.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <header>
        <nav class="navegador-superior">
            <img class="loguito" src="/img/logo-mercado-liebre.svg" alt="mercadoLogo">
            <input class="buscador" type="text" placeholder="Buscar productos, marcas">
            <i class="fa-solid fa-magnifying-glass fa-xl lupita"></i>
        </nav>
        <nav class="navegador-superior2">
            <h2> <i class="fa-solid fa-hand-holding-dollar" ></i>Comprá en cuotas y sin tarjeta de crédito</h2> >
        </nav>
        <nav class="navegador-inferior">
            <ul class="primera-lista">
                <li><a href="#">Ofertas </a></li>
                <li><a href="#">Vender </a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>         
        
            <ul class="segunda-lista">                        
                <li> <a href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i>  </a></li>
                <li> <a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li> <a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i>  </a></li>
            </ul> 
        </nav>
    </header>
    <main>
        <div class="primera-seccion">
            <h2>Basado en tu última visita</h2>
             <ul>
                <li><a href="#"><img class="imagenmacbook" src="/img/macbook.jpg" alt="imagen macbook"></a> </li>
                <li>$230.000</li>
                <li>20% Off</li> 
                <li>Mackbook Pro 2019</li> 
            </ul>
            <ul>
                <li><a href="#"><img class="imagens10" src="/img/s10.jpg" alt="imagen samsung galaxy"></a> </li>
                <li>$70.500 $230.000</li>
                <li>10% Off 20% Off</li> 
                <li>Samsung Galaxy S10</li> 
            </ul>
        </div>
        <div class="segunda-seccion">
            <h2>Sección de Ofertas</h2>
            <ul>
               <li><a href="#"><img class="imagenmacbook" src="/img/macbook.jpg" alt="imagen macbook"></a> </li>
               <li>$230.000</li>
               <li>20% Off</li> 
               <li>Mackbook Pro 2019</li> 
           </ul>
           <ul>
               <li><a href="#"><img class="imagens10" src="/img/s10.jpg" alt="imagen samsung galaxy"></a> </li>
               <li>$70.500 $230.000</li>
               <li>10% Off 20% Off</li> 
               <li>Samsung Galaxy S10</li> 
           </ul> 
        </div> 
    </main>



    <footer class="pie-de-pagina">
        <div class="grupo1">
            <i class="fa-solid fa-credit-card fa-xl iconofooter" ></i>
            <h1>Pagá con tarjeta o efectivo</h1>
            <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h6>     
        </div>
        <div class="grupo2">
            <i class="fa-solid fa-gift fa-xl iconofooter"></i>
            <h1 class="footertit">Envío gratis desde $2500</h1>
            <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h6>
        </div>
        <div class="grupo3">
            <i class="fa-solid fa-user-shield fa-xl iconofooter"></i>
            <h1 class="footertit">Seguridad, de principio a fin</h1>
            <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h6>
        </div>
        <div class="grupo4">
            <h6>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>       
    </footer>

</body>
</html>