<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42c5fb74e1.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header1">
        <div class="main-header-top-bar">
            <img src="/m/logo-mercado-liebre.svg" class="logo" alt="logo-mercado-liebre">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar " ></i>
                Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        <a href="" class="hamburguer-button">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </a>
        
        <div class="main-navbar">
            
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiedas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#"> <i class="fa-regular fa-id-card"></i> Creá tu cuenta</a></li>
                <li><a href="#"> <i class="fa-solid fa-right-to-bracket"></i>Ingresá</a></li>
                <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i>Mis Compras</a></li>
            </ul>
        </div>
    </header>
</body>
</html>