<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/42c5fb74e1.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <header>
        <h1>Logo MercadoLiebre</h1>
        <input type="text" placeholder="Buscar productos, marcas">
    </header>
    <nav>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </nav>
    <main>
    <p>Ofertas 
        <br> 
        Tiendas Oficiales 
        <br> 
        Vender 
        <br> 
        Ayuda </p>
    <p>
        Creá tu cuenta
        <br>
        Ingresá
        <br>
        Mis Compras
    </p>
    </main>
    <footer class="pie-de-pagina">
        <div>
        <div>
            <li><b>Pagá con tarjeta o efectivo</b></li>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <li> <b>Envío gratis desde $2500</b></li>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div>
            <li> <b>Seguridad, de principio a fin</b></li>
            <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>

        <div>
            <li> <b> ● Copyright © 1999-2020 MercadoLiebre S.R.L. </b></li>
        </div>
        </div>
    </footer>

</body>
</html>