* {
    font-family: roboto;
    margin: 0px;
    box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    
}

header {
   
    background-color: #EAC926;
    width: 100vw;
    
    
}

.navegador-superior {
    
    display: flex;   
    margin-left: 5vw;
    margin-right: 5vw;     
}
.nav-sup-logo{
    
    width: 20vw;
}
.nav-sup-logo .loguito{
    
    margin-bottom: 3vh;
    width: 15vw;
}

.nav-sup-searchbar {
   
    width: 50vw;
}

.buscador {
    
    width: 30vw;
    height: 5vh;
    margin-top: 2vh;
    border-radius:5px;
    display: flex;
}
.form-control{
    width: 28vw;
    height: 5vh;
    border-radius: 5px 0 0 5px;
    font-size: 14px;

}

.img-button{
    width: 1.5vw;
    border-radius: 0 10px 10px 0;

}


.nav-sup-h2{
    
    width: 400px;
    font-size: 12px;
    text-align: center;
}

.nav-sup-h2 h2{
    margin-top: 3vh;
}
.loguito{
    width: 15%;
    position: relative;
    top: 10px;
}


.searchbar img{
    
    filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
    margin-left: -2.5vw;
    margin-bottom: -1vh;
    width: 20px;
    height: 20px;
    border-left: 1px solid #ebebeb;
    padding-left: 2px;
    
}

.navegador-inferior {

    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    justify-content: space-around;
    
    
}
.navegador-inferior .primera-lista{
    
    display: flex;
    font-size: 18px;
    flex-wrap: nowrap;
    list-style: none;
    margin-left: -3vw;
    
    
}


.navegador-inferior ul a{
    
    text-align: justify;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    color: black;
}


.segunda-lista{
    
    display:flex;
    text-align: center;
    
    list-style: none;
    font-size: 18px;
    
}


.hamburguer {
    visibility: hidden;
}
.navegador-inferior a:hover{
    
    color:#1259c3
}

.nav-sup-h2 h2:hover{
    color: #1259c3;
}

/*-------------------------------------------------------------------------*/
main {
    width: 100vw;
    background-color:#ebebeb ;
    

}
.formulario-ingreso{
    
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 5vh;
    padding-bottom: 10vw;
    
}

.label-ingreso{
    color: #03264C;
    background-color: #EAC926 ;
    border-radius: 10px;
    width: 50vw;
    height: 7vh;
    padding-top: 1vh;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.formulario-ingreso input{
    margin-top: 5vh;
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: solid 1px white;
    
}

.submit-button{
    background-color: #1259c3;
    color: white;
    font-family: roboto;
}


/*-----------------------------------------------------------------------------------------*/

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}

.grupo1 {
    
    width: 20vw;
    position: relative;
    align-items: center;
    top:5vh;
}

.iconofooter {
    margin-left: 50%;
    margin-bottom: 2vw;
}
.grupo2 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo3 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo4{
    
    margin-left: 9vw;
    width: 40vw;    
    position: relative;
    top: 8vw;
    left: 5vh;

}

footer h1 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 20px;
}

footer h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

@media ((max-width: 769px) and (min-width: 200px)) {

    header {
        
        background-color: #EAC926;
        width: 100vw;
        
        
    }
    
    .navegador-superior {
        display: flex; 
        flex-direction: column;  
        margin-left: 5vw;
        margin-right: 5vw;     
    }
    .nav-sup-logo{
        
        width: 10vw;
    }
    .nav-sup-logo .loguito{
        
        margin-bottom: 3vh;
        width: 30vw;
    }
    
    
    .buscador {
        
        width: 54vw;
        height: 5vh;
        margin-top: 1vh;
        border-radius:5px;
        display: flex;
    }

    .form-control{
        width: 50vw;
        height: 5vh;
        border-radius: 5px 0 0 5px;
        font-size: 15px;
    
    }
    
    .img-button{
        width: 3vw;
        margin: auto;
        border-radius: 0 10px 10px 0;
    
    }
    
    
    .nav-sup-h2{
        
        width: 400px;
        font-size: 10px;
        text-align: left;
    }
    
    .nav-sup-h2 h2{
        margin-top: 3vh;
    }
    .loguito{
        width: 15%;
        position: relative;
        top: 10px;
    }
    
    
    .searchbar img{
        
        filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
        margin-left: -2.5vw;
        margin-bottom: -1vh;
        width: 20px;
        height: 20px;
        border-left: 1px solid #ebebeb;
        padding-left: 2px;
        
    }
    /*-----------------------------------------------------------------------------------*/
    .navegador-inferior {
        display: none;
        padding-top: 3vh;
        padding-bottom: 3vh;
        justify-content: space-around;
    }
    .navegador-inferior .primera-lista{
        
        display: flex;
        font-size: 20px;
        flex-wrap: nowrap;
        list-style: none;
        width: 30vw;
        justify-content: space-around;
    }
    
    
    .navegador-inferior ul a{
        
        text-decoration: none;
        color: black;
    }
    
    
    .segunda-lista{
        
        display:flex;
        justify-content: space-between;
        margin-left: 12vw;
        list-style: none;
        width: 25vw;
    }
    
    
    .hamburguer {
        
        visibility: visible;
        display: block;
        background-color: #1259c3;  
        margin-top: 3vh;
        margin-bottom: 3vh;
        color: white;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .hamburguer i {

        margin-top: 1vh;
    }

/*-----------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/

footer {

    background-color: white;
    height: 100vh;
    min-height: auto;
}

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}

.grupo1 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}

.iconofooter {
    
    margin-left: 50%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.grupo2 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo3 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo4{
    display: block;
    margin-left: 10vw;
    position: relative;
    top: 10vw;
    left: 0vh;
    font-size: 12px;
    font-weight: 200;

}

footer h1 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2vh;
    font-weight: 300;
}

footer h6 {
    text-align: left;
}

}
