* {
    font-family: roboto;
    margin: 0px;
    
}

header {
    
    background-color: #EAC926;
    width: 100%;
    height: 22vh;
       
}

.navegador-superior {
    
    margin-left: 10vw;
    margin-right: 10vh;
    position: relative;
}
.navegador-superior h2{
    display: inline;
    text-align: center;
    position: relative;
    bottom: 10vh;
    font-weight: 400;
    float: right;
    font-size: 120%;
}
.loguito{
    width: 15%;
    position: relative;
    top: 10px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    bottom: 4vh;
    
    

}
.buscador {
    width: 30vw;
    height: 5vh;
    border: solid 1px #ebebeb;
    border-radius: 3px;  
}

.searchbar img{
    position: relative;
    filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
    right: 2vw;
    top: 1vh;
    width: 20px;
    height: 20px;
    border-left: 1px solid #ebebeb;
    padding-left: 2px;
    
}

.navegador-inferior {
    
    margin-left: 6vw;
    margin-right: 8vh;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    position: relative;
    bottom: 4vh;

    
    
}
.navegador-inferior ul{
    
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    width: 40%;
    justify-content: space-around;
            
}


.navegador-inferior ul a{
    
    text-decoration: none;
    color: black;

}


.segunda-lista li{
    
    display: inline-block;
    margin-left: -50px;
    margin-right: -400px;
    padding-left: 50px;
    padding-right: 50px;
    
   
}


/*-------------------------------------------------------------------------*/

main {
    width: 100vw;
    background-color: #ebebeb;
    
}
.main-general{
    margin-left: 10vw;
    margin-right: 10vw;
}
main h2{
    font-size: 24px;
    margin-bottom: 2vh;

}
.carousel img {
    margin-left: 3vw;
    width: 100%;
    padding-bottom: 5vh;
}

main ul {
    border: solid 1px #ebebeb;
    background-color: white;
    width: 15vw;
    list-style: none;
    
}

main ul img {

    width: 15vw;
    position: relative;
    right: 15%;
    
}
.primera-seccion{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}
.segunda-seccion{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}

.precioLi {
    font-size: 18px;
}

.descuentoLi {
    color: #39b54a;
}
.productoLi{
    color:#666666;
    font-weight: 14px;
}

.fa-truck{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
}

/*-----------------------------------------------------------------------------------------*/

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}
footer i {
    
    


}
.grupo1 {
    
    width: 20vw;
    position: relative;
    align-items: center;
    top:5vh;
}

.iconofooter {
    margin-left: 50%;
    margin-bottom: 2vw;
}
.grupo2 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo3 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo4{
    display: block;
    margin-left: 10vw;
    position: relative;
    top: 5vw;
    left: 5vh;

}

footer h1 {
    text-align: center;
    margin-bottom: 2vh;
}

footer h6 {
    text-align: center;
}

@media ((max-width: 769px) and (min-width: 361px)) {

    header {
    
        background-color: #EAC926;
        width: 100%;
        height: 30vh;
           
    }

    .loguito{
        width: 25%;
        position: relative;
        top: 10px;
    }

.navegador-inferior {

    display: none;
}

.navegador-superior h2 {
    display: block;
    text-align: left;
    position: relative;
    top: 5vh;
    font-weight: 400;
    float: left;
    font-size: 70%;
    margin-bottom: 5vh;
}
.searchbar {
    display: block;
    position: relative;
    left: 0%;
    top: 5vh;
    margin-bottom: 5vh;
}

.buscador {
    width: 50vw;
    height: 5vh;
    border: solid 1px #ebebeb;
    border-radius: 3px;  
}
.searchbar img{
    position: relative;
    filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
    right: 4vw;
    top: 1vh;
    width: 13px;
    height: 13px;
    border-left: 1px solid #ebebeb;
    padding-left: 2px;
    
}
/*-----------------------------------------------------------------------------------------------------*/

.carousel img {
    object-fit: cover;
    
    margin-left: 0px;
    width: 100vw;
    padding-bottom: 5vh;
}

.primera-seccion{
    display: block;
    justify-content: left;
    padding-bottom: 5vh;
}
.segunda-seccion{
    display: block;
    justify-content: left;
    padding-bottom: 5vh;
}
main h2{
    font-size: 3vw;

}
main ul {
    border: solid 1px #ebebeb;
    background-color: white;
    width: 50vw;
    list-style: none;
    margin-bottom: 3vh;
    
}
main ul img {

    width: 30vw;
    position: relative;
    right: 0%;
    left: 5%;
    
}


.precioLi {
    font-size: 15px;
}

.descuentoLi {
    color: #39b54a;
    font-size: 12px;
}
.productoLi{
    color:#666666;
    font-size: 12px;
}

.fa-truck{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
    width: 4vw;
}

/*-----------------------------------------------------------------------------------------------*/

footer {

    background-color: #ebebeb;
    height: 100vh;
}

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}

.grupo1 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}

.iconofooter {
    
    margin-left: 50%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.grupo2 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo3 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo4{
    display: block;
    margin-left: 10vw;
    position: relative;
    top: 10vw;
    left: 0vh;
    font-size: 12px;
    font-weight: 200;

}

footer h1 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2vh;
    font-weight: 300;
}

footer h6 {
    text-align: left;
}

}