* {
    font-family: roboto;
<<<<<<< Updated upstream
    margin: 0px;
    
}

header {
    
    background-color: #EAC926;
    width: 100%;
    height: 22vh;
       
=======
       
}

body {

    background-color: #EAC926;
    width: 98vw;
    box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
>>>>>>> Stashed changes
}

.navegador-superior {
    
<<<<<<< Updated upstream
    margin-left: 10vw;
    margin-right: 10vh;
    position: relative;
}
.navegador-superior h2{
    display: inline;
    text-align: center;
    position: relative;
    bottom: 10vh;
    font-weight: 400;
    float: right;
    font-size: 120%;
}
.loguito{
    width: 15%;
    position: relative;
    top: 10px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    bottom: 4vh;
    
    

}
.buscador {
    width: 30vw;
    height: 5vh;
    border: solid 1px #ebebeb;
    border-radius: 3px;  
}

.searchbar img{
    position: relative;
    filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
    right: 2vw;
    top: 1vh;
    width: 20px;
    height: 20px;
    border-left: 1px solid #ebebeb;
    padding-left: 2px;
    
}

.navegador-inferior {
    
    margin-left: 6vw;
    margin-right: 8vh;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    position: relative;
    bottom: 4vh;

    
    
}
.navegador-inferior ul{
    
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    width: 40%;
    justify-content: space-around;
            
}


.navegador-inferior ul a{
    
    text-decoration: none;
    color: black;

}


.segunda-lista li{
    
    display: inline-block;
    margin-left: -50px;
    margin-right: -400px;
    padding-left: 50px;
    padding-right: 50px;
    
   
}


/*-------------------------------------------------------------------------*/

main {
    width: 100vw;
    background-color: #ebebeb;
    
}
.main-general{
    margin-left: 10vw;
    margin-right: 10vw;
}
main h2{
    font-size: 24px;
    margin-bottom: 2vh;

}
.carousel img {
    margin-left: 3vw;
    width: 100%;
    padding-bottom: 5vh;
}

main ul {
    border: solid 1px #ebebeb;
    background-color: white;
    width: 15vw;
    list-style: none;
    
}

main ul img {

    width: 15vw;
    position: relative;
    right: 15%;
    
}
.primera-seccion{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}
.segunda-seccion{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}

.precioLi {
    font-size: 18px;
}

.descuentoLi {
    color: #39b54a;
}
.productoLi{
    color:#666666;
    font-weight: 14px;
}

.fa-truck{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
}

/*-----------------------------------------------------------------------------------------*/

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}
footer i {
    
    


}
.grupo1 {
    
    width: 20vw;
    position: relative;
    align-items: center;
    top:5vh;
}

.iconofooter {
    margin-left: 50%;
    margin-bottom: 2vw;
}
.grupo2 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo3 {
    
    width: 20vw;
    position: relative;
    top:5vh;
}
.grupo4{
    display: block;
    margin-left: 10vw;
    position: relative;
    top: 5vw;
    left: 5vh;

}

footer h1 {
    text-align: center;
    margin-bottom: 2vh;
}

footer h6 {
    text-align: center;
}

@media ((max-width: 769px) and (min-width: 361px)) {

    header {
    
        background-color: #EAC926;
        width: 100%;
        height: 30vh;
           
    }

    .loguito{
        width: 25%;
        position: relative;
        top: 10px;
    }

.navegador-inferior {

    display: none;
}

.navegador-superior h2 {
    display: block;
    text-align: left;
    position: relative;
    top: 5vh;
    font-weight: 400;
    float: left;
    font-size: 70%;
    margin-bottom: 5vh;
}
.searchbar {
    display: block;
    position: relative;
    left: 0%;
    top: 5vh;
    margin-bottom: 5vh;
}

.buscador {
    width: 50vw;
    height: 5vh;
    border: solid 1px #ebebeb;
    border-radius: 3px;  
}
.searchbar img{
    position: relative;
    filter: invert(42%) sepia(1%) saturate(747%) hue-rotate(15deg) brightness(92%) contrast(91%);
    right: 4vw;
    top: 1vh;
    width: 13px;
    height: 13px;
    border-left: 1px solid #ebebeb;
    padding-left: 2px;
    
}
/*-----------------------------------------------------------------------------------------------------*/

.carousel img {
    object-fit: cover;
    
    margin-left: 0px;
    width: 100vw;
    padding-bottom: 5vh;
}

.primera-seccion{
    display: block;
    justify-content: left;
    padding-bottom: 5vh;
}
.segunda-seccion{
    display: block;
    justify-content: left;
    padding-bottom: 5vh;
}
main h2{
    font-size: 3vw;

}
main ul {
    border: solid 1px #ebebeb;
    background-color: white;
    width: 50vw;
    list-style: none;
    margin-bottom: 3vh;
    
}
main ul img {

    width: 30vw;
    position: relative;
    right: 0%;
    left: 5%;
    
}


.precioLi {
    font-size: 15px;
}

.descuentoLi {
    color: #39b54a;
    font-size: 12px;
}
.productoLi{
    color:#666666;
    font-size: 12px;
}

.fa-truck{
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
    width: 4vw;
}

/*-----------------------------------------------------------------------------------------------*/

footer {

    background-color: #ebebeb;
    height: 100vh;
}

.iconofooter {
    color:#1259c3;
}

.pie-de-pagina{
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

    
}

.grupo1 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}

.iconofooter {
    
    margin-left: 50%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.grupo2 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo3 {
    
    width: 50vw;
    position: relative;
    align-items: left;
    top:5vh;
}
.grupo4{
    display: block;
    margin-left: 10vw;
    position: relative;
    top: 10vw;
    left: 0vh;
    font-size: 12px;
    font-weight: 200;

}

footer h1 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2vh;
    font-weight: 300;
}

footer h6 {
    text-align: left;
}

}
=======
    display: flex;
    justify-content: space-between;
    background-color:#EAC926 ;
        
}

.navegador-superior h2 {

    font-size: 18px;
    text-align: right;
    color:#03264C;
    padding: 10px;
}

.loguito {
    width: 200px;
    margin-left: 10px;
}

.buscador {
    
    height: 25px;
    width: 350px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.lupita {
    
    margin-top: 33px;
    margin-right: 300px;
    align-self: auto;
}
.navegador-inferior {

    padding: 1px;
    background-color: #EAC926;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}

.navegador-inferior ul {
    display: flex;
    list-style: none;
        
    
    
}
.navegador-inferior a {
    color: #03264C;
    text-decoration: none;
    padding: 0 10px;
    
}


/*----------------------M A I N --------------------*/


main {

    width: 100vw;
    display: block;
    
    
}
.primera-seccion {
    background-color:#ebebeb;
    padding: 1px;
    width: 100%;


}

.primera-seccion h2 {
    font-size: 24px;
    color:#03264C;
    margin-top: 10px;
    margin-left: 33%;

}

.primera-seccion .basado {
    
    display: flex;
    justify-content:center;
    display: block;
    
        
}

.basado ul {
    
    padding: 2em 0;
    margin-left: 33%;
    margin-right: 48%;

}

.data {
    border: solid 1px #ebebeb;
    background-color: white;
    padding: 15px

}

.camioncito {
    color: #39b54a;
    border:solid 1px  #39b54a;
    padding: 4px;
    border-radius: 50%; 
}

.descuento-main {
    color: #39b54a
}
 
    

.primera-seccion ul {

    list-style: none;

}

.primera-seccion img {

    width: 100%;
    height: 150px;
}

.primera-seccion .precio-main {

    font-size: 20px;

}

.primera-seccion .descuento-main {

    font-size: 16px;

}

.primera-seccion .articulo-main {

    font-size: 16px;

}

/*---------------------------------------*/

.segunda-seccion {
    background-color:#ebebeb;
    padding: 1px;

}

.segunda-seccion h2 {
    font-size: 24px;
    color:#03264C;
    margin-top: 10px;
    margin-left: 33%;


}

.segunda-seccion .ofertas {
    
    display: flex;
    justify-content:center;
    display: block;
    
}

.ofertas ul {
    padding: 2em 0;
    margin-left: 33%;
    margin-right: 48%;
}

.segunda-seccion ul {

    list-style: none;

}

.segunda-seccion img {

    width: 100%;
    height: 150px;
}

.segunda-seccion .precio-main {

    font-size: 20px;

}

.segunda-seccion .descuento-main {

    font-size: 16px;

}

.segunda-seccion .articulo-main {

    font-size: 16px;

}

/*-----------------F O O T E R ----------------------------*/

.pie-de-pagina {

    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    color: #03264C;
    justify-content: space-around;

}

.pie-de-pagina h1 {

    font-size: 24px;
}
.pie-de-pagina h2 {

    font-size: 16px;
}

.pie-de-pagina .grupo1 {

    text-align: center;
    padding: 15px;
    width: 40%;
    
}

.pie-de-pagina .grupo2 {

    text-align: center;
    padding: 15px;
    width: 40%;
}
.pie-de-pagina .grupo3{

    text-align: center;
    padding: 15px;
    width: 40%;
}

.pie-de-pagina .grupo4{

    text-align: right;
    margin-top: 100px;
    width: 40%;
}

.pie-de-pagina h6 {
    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: 25%;
    
    
}

/*-----------------------------------M O B I L E-----------------------------------*/

@media ((min-width: 361px) and (max-width: 769px)) {

body {
    box-shadow: none;
}

.navegador-inferior {
    
    display: none;
    justify-content:left;
    background-color:#EAC926 ;

}

.navegador-superior {
    
    display:block;
    justify-content:left ;
    background-color:#EAC926 ;
        
}

.navegador-superior h2 {
    text-align: left;
    margin-left: 10px;

}
.buscador {
    display: block;
    height: 25px;
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    
}
/*-----------------------------------------------MAIN------------------------*/
/*______________PRIMERA SECCION____________________*/
main {
    
    display:grid;
    width: 100%;
    
    
}
.primera-seccion {
    
    background-color:#ebebeb;
    padding: 1px;
    width: 100%;
    

}

.primera-seccion h2 {
    font-size: 24px;
    color:#03264C;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 36%;

}


.basado {
    
    display: none;
    justify-content:left;
    display: inline;
    margin: 0%;
    
        
}

.basado ul {
    
    padding: 2em 0;
    margin-left: 20%;
    margin-right: 36%;

}

.data {
    border: solid 1px #ebebeb;
    background-color: white;
    padding: 15px

}
.articulo-main {
    display: none;
}

/*________________________________SEGUNDA SECCION_____________________*/
.segunda-seccion {
    
    background-color:#ebebeb;
    padding: 1px;
    width: 100%;
    

}
.segunda-seccion h2 {
    font-size: 24px;
    color:#03264C;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 36%;


}
.segunda-seccion .ofertas {
    
    display: none;
    justify-content:left;
    display: inline;
    margin: 0%;
    
        
}
.ofertas ul {
    padding: 2em 0;
    margin-left: 20%;
    margin-right: 36%;
}

.segunda-seccion ul {

    list-style: none;

}
/*----------------------------FOOTER-----------------*/

.pie-de-pagina {

    display: block;
    flex-wrap: wrap;
    background-color: #ebebeb;
    color: #03264C;
    justify-content: space-around;

}
.pie-de-pagina .grupo1 {

    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: 20%;
    
}

.pie-de-pagina .grupo2 {

    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: 20%;
}
.pie-de-pagina .grupo3{

    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: 20%;
}

.pie-de-pagina .grupo4{

    text-align: center;
    margin-top: 100px;
    width: 40%;
    margin-left: 20%;
}

.pie-de-pagina h6 {
    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: 25%;
    
    
}


}
>>>>>>> Stashed changes
